<!doctype html>
<html lang=en>
<head>
	{% block head %}
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sketch to Web</title>
	<link rel="icon" type="image/svg+xml" href="https://www.gstatic.com/devrel-devsite/prod/v0d244f667a3683225cca86d0ecf9b9b81b1e734e55a030bdcd3f3094b835c987/cloud/images/favicons/onecloud/favicon.ico" />
	<link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='tailwind-output.css') }}" >
	{% endblock %}
</head>
<body>
	<div class="bg-white">
		<header class="absolute inset-x-0 top-0 z-50">
		  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
			<div class="flex lg:flex-1">
			  <a href="/" class="-m-1.5 p-1.5">
				<span class="sr-only">Google Cloud</span>
				<img class="h-8 w-auto" src="https://www.gstatic.com/devrel-devsite/prod/v0e0f589edd85502a40d78d7d0825db8ea5ef3b99ab4070381ee86977c9168730/cloud/images/cloud-logo.svg" alt="Google Cloud" />
			  </a>
			</div>
			<div class="hidden lg:flex lg:gap-x-12">
			</div>
			<div class="hidden lg:flex lg:flex-1 lg:justify-end">
			  	<a href="#" class="text-sm font-semibold leading-6 text-gray-900"><i class="fa-brands fa-github"></i> GitHub </a> 
			</div>
		  </nav>
		</header>
		{% block content %}
		{% endblock %}
	</div>
	{% block script %}
	{% endblock %}
</body>
</html>
