{% extends "base.html" %}
{% block content %}
<section id="landing" class="h-screen flex items-center justify-center pb-20">
	<div class="relative isolate lg:px-8">
		<div class="mx-auto max-w-7xl py-32 sm:py-48 lg:py-56 text-center">
			<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Geminiのマルチモーダル機能を体験</h1>
			<div
				class="mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
				<div class="lg:pl-4 lg:pt-4 mt-4">
					<div class="lg:max-w-lg">
						<div class="mt-6 flex items-center justify-center w-full">
							<div id="camera"
								class="flex flex-col items-center justify-center w-full h-full border-2 rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 dark:hover:bg-gray-100 hover:border-gray-100 dark:hover:border-gray-100">
								<video id="video" class="h-full w-full rounded-lg">Video stream is not
									available!</video>
							</div>
						</div>
					</div>
				</div>
				<div class="lg:pr-4 lg:pt-2 mt-4">
					<div class="lg:max-w-lg text-left">
						<div class="" id="instructionContainer">
							<dl
								class="mt-16 max-w-xl space-y-8 leading-7 text-gray-600 text-xl antialiased lg:max-w-none">
								<div class="relative font-semibold text-gray-900">
									Geminiモデルを使って、あなたのウェブサイトのビジョンを3つの簡単なステップで実現しましょう。
								</div>
								<div class="relative pl-8">
									<dt class="inline font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
											class="absolute left-1 top-0.5 w-6 h-6 text-indigo-600">
											<path
												d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
											<path
												d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
										</svg>
										Step 1: ウェブページの基本的なレイアウトを描く
									</dt>
								</div>
								<div class="relative pl-8">
									<dt class="inline font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
											class="absolute left-1 top-0.5 w-6 h-6 text-indigo-600">
											<path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
											<path fill-rule="evenodd"
												d="M9.344 3.071a49.52 49.52 0 0 1 5.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 0 0 1.11-.71l.822-1.315a2.942 2.942 0 0 1 2.332-1.39ZM6.75 12.75a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Zm12-1.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
												clip-rule="evenodd" />
										</svg>
										Step 2: レイアウトの写真を撮る
									</dt>
								</div>
								<div class="relative pl-8">
									<dt class="inline font-semibold">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
											class="absolute left-1 top-0.5 w-6 h-6 text-indigo-600">
											<path fill-rule="evenodd"
												d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
												clip-rule="evenodd" />
										</svg>
										Step 3: ウェブページに命を吹き込もう！
									</dt>
								</div>
							</dl>
						</div>
						<div class="lg:max-w-lg text-left mt-8">
							<input type="button" value="スタート!" id="captureButton" onclick="location.href='#generate'"
								class="rounded-md w-full bg-indigo-600 px-6 py-4 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<section id="generate" class="h-screen flex items-center justify-center pb-20">
	<div class="relative isolate lg:px-8">
		<div class="mx-auto max-w-7xl py-32 sm:py-48 lg:py-56 text-center">
			<form id="generateForm" action="/response" target="_blank" method="post" enctype=multipart/form-data>
				<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Geminiのマルチモーダル機能を体験</h1>
				<div
					class="mx-auto grid max-w-3xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
					<div class="lg:pl-4 lg:pt-4 mt-4">
						<div class="lg:max-w-lg">
							<div class="mt-6 flex items-center justify-center w-full">
								<div id="camera"
									class="flex flex-col items-center justify-center w-full h-full border-2 rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 dark:hover:bg-gray-100 hover:border-gray-100 dark:hover:border-gray-100">
									<img class="rounded-md w-full" id="previewImage">
									<input type="file" id="capturedImage" name="capturedImage" hidden>
								</div>
							</div>
						</div>
					</div>
					<div class="lg:pr-4 lg:pt-2 mt-4">
						<div class="pt-11 lg:max-w-lg text-left">
							<div class="flex-wrap min-w-md" id="parameterContainer">
								<!-- Model Select -->
								<label for="model"
									class="block mb-2 text-md font-medium text-gray-900 dark:text-gray-900">モデルを選択する:</label>
								<select id="model" name="model"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
									<option value="gemini-1.5-flash-001" selected>Gemini 1.5 Flash 001
									</option>
									<option value="gemini-1.5-pro-001">Gemini 1.5 Pro 001
									</option>
								</select>
								<!-- Prompt Textarea -->
								<label for="prompt"
									class="block mt-4 mb-2 text-md font-medium text-gray-900 dark:text-gray-900">プロンプトを書く:</label>
								<textarea id="prompt" name="prompt" rows="7"
									class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									placeholder="Write your prompt">提供された手描きのワイヤーフレームをHTMLページに変換してください。デザインとレイアウトにはCSSを使用してください。</textarea>
							</div>
							<div class="mt-4 justify-left gap-x-6" id="generateButtonContainer">
								<input type="submit" value="ジェネレート!" id="generateButton"
									class="rounded-md w-full bg-indigo-600 px-6 py-4 min-w-5 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block script %}
<script>
	window.addEventListener('load', function() {
		// Get the current URL without the fragment identifier
		var cleanUrl = window.location.href.split('#')[0];

		// Replace the current URL in the history without reloading
		history.replaceState(null, null, cleanUrl);

		// Scroll back to top of the page
		window.scrollTo(0, 0); 
	});

	let canvas = document.createElement('canvas');
	let base64Image = null;
	let hiddenInput = null;
	
	const generateForm = document.getElementById('generateForm');
	const capturedImage = document.getElementById('capturedImage');

	// codes to show-hide containers based on step
	const instructionContainer = document.getElementById('instructionContainer');
	const parameterContainer = document.getElementById('parameterContainer');
	const generateButtonContainer = document.getElementById('generateButtonContainer');
	const captureButtonContainer = document.getElementById('captureButtonContainer');

	// *** Webcam related code *** //
	const video = document.getElementById('video');
	const captureButton = document.getElementById('captureButton');
	const previewImage = document.getElementById('previewImage');

	// get webcam feed and play it on video element
	navigator.mediaDevices.getUserMedia({ video: true, audio: false })
		.then(stream => {
			video.srcObject = stream;
			video.play();
		})
		.catch(error => {
			console.error('Error accessing webcam:', error);
		});

	// capture webcam feed as image
	captureButton.addEventListener('click', () => {
		canvas.width = video.videoWidth;
		canvas.height = video.videoHeight;
		let context = canvas.getContext('2d')
		context.drawImage(video, 0, 0);
		base64Image = canvas.toDataURL('image/jpeg', 1.0);
		context.clearRect(0, 0, canvas.width, canvas.height);

		// set preview image
		previewImage.src = base64Image;
		previewImage.width = canvas.width * 1.5;
		previewImage.height = canvas.height * 1.5;

		if (hiddenInput !== null) {
			hiddenInput.remove();
			hiddenInput = null;
		}
	});

	// generate
	generateButton.addEventListener('click', (e) => {
		// Convert to Base64 and add to the form as a hidden input
		const hiddenInput = document.createElement('input');
		hiddenInput.type = 'hidden';
		hiddenInput.name = 'capturedImage';
		hiddenInput.value = base64Image;

		// Append hiddenInput as part of the form 
		generateForm.appendChild(hiddenInput);
	});

</script>
{% endblock %}